
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2 class="coll_title">Bikes Inventory <small></small></h2>
    <div class="collections">
        @foreach (var item in ViewBag.Bikes)
        {
            <div class="collections_outer">
                <div class="collections_item">
                    <img src="~/Content/somebike.jpg" alt="smth">
                    <div class="collections_text">
                        <h3>@item.Name</h3>
                        <p>Price: @item.Price <br/>
                        Weight: @item.Weight <br/>
                        Speed: @item.Speed</p>
                        <a href="/Home/Buy/@item.Id">BUY</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>



@*<div>
    <h3>Bike shop</h3>
    <table class="tablecontent">
        <tr>
            <td><p>Модель</p></td>
            <td><p>Ціна(USD)</p></td>
            <td><p>Вага</p></td>
            <td><p>Швидкість</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Bikes)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Price</p></td>
                <td><p>@b.Weight</p></td>
                <td><p>@b.Speed</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купити;</a></p></td>
            </tr>
        }
    </table>
</div>*@
